@use '../variables'as *;
@use '../media'as *;


.cart {

   padding-top: 100px;

   &__container {
      padding: 24px 16px;
      border-radius: 32px;
      background-color: $white;
      max-height: 778px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
  
      @media (max-width: 1360px) {
        max-height: none;
      }
  
      @include mobile {
        border-radius: 24px;
      }
    }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
   }

   &__title {
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 8px;
   }

   &__close {
      color: $orange;
      transition: color .2s;
  
      &:hover {
        color: $light-orange;
      }
   }

   &__delivery {
      padding-left: 20px;
      background-image: url('/img/track.svg');
      background-repeat: no-repeat;
      background-position: left bottom;
      font-family: $font-family;
      font-size: 14px;
      line-height: 1.3;
      color: $dark;
      margin-bottom: 32px;

      @include mobile {
         font-size: 12px;
      }
   }

   &__list {
      flex-grow: 1;
      margin-bottom: 24px;
   }

   &__item {
      display: grid;
      gap: 8px 12px;
      padding: 16px 0;
      border-bottom: 1px solid rgba($dark, .04);
      grid-template-columns: 54px 1fr min-content;
      grid-template-areas:
         "image title title "
         "image counter price";
   }

   &__image {
      grid-area: image;
      width: 54px;
      height: 54px;
      object-fit: cover;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
   }

   &__item-title {
      grid-area: title;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      color: $dark;
      margin: 0;
      margin-bottom: 8px;
   }

   &__counter {
      grid-area: counter;
      display: flex;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
   }

   &__counter-btn {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background-color: $bg;
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__counter-input {
      width: 30px;
      border: none;
      outline: none;
      text-align: center;

      &:hover {
         background-color: $footer;
      }
   }

   &__price {
      grid-area: price;
   }

   &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
   }

   &__order-btn {
      border-radius: 32px;
      padding: 8px 16px;
      background-color: $light-orange;
      color: $white;
      font-size: 18px;
      border: 1px solid transparent;
      outline: none;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s;

      &:hover {
         background-color: $orange;
      }

      &:focus,
      &:focus-visible {
         background-color: $orange;
         border-color: $light-orange;
      }

      &:disabled {
         background-color: $light-orange;
         opacity: 0.4;
      }
   }
}