@use '../variables'as *;
@use '../media'as *;

.filter {

   &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      flex-wrap: wrap;
   }

   &__group {
      display: flex;
      flex-wrap: wrap;
      border: 0;
      padding: 0;
      margin: 0;
      gap: 12px;

      &_choices {
         gap: 64px;

         @include mobile {
            gap: 40px;
         }
      }
   }


   &__choices-box {
      padding: 24px;
      position: absolute;
      //! высота родителя + margin-bottom;
      top: calc(100% + 20px);
      left: 50%;
      transform: translateX(-50%);
      // display: none;
      border-radius: 12px;
      background-color: $white;

      &_type {
         padding: 16px;
      }

   }

   &__price {
      border: 0;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 8px;
   }

   &__input-price {
      border-radius: 32px;
      padding: 8px 16px;
      width: 110px;
      height: 40px;
      background-color: $bg;
      border: 0;

      @include mobile {
         width: 80px;
      }
   }

   &__radio {
      appearance: none;
      position: absolute;

   }

   &__label {
      display: inline-block;
      padding: 16px;
      padding-left: 60px;
      border: 1px solid transparent;
      cursor: pointer;
      border-radius: 300px;
      background-color: $white;
      font-family: $font-family;
      font-weight: 400;
      line-height: 1.3;
      color: $dark;

      background-size: 40px;
      background-repeat: no-repeat;
      background-position: left 16px center; // слева на 16px
      transition: all 0.3s ease-in-out;
      min-height: 72px;
      display: flex;
      align-items: center;

      @include mobile {
         padding: 10px 12px 10px 40px;
         background-size: 24px;
         background-position: left 12px center;
         min-height: 40px;
      }

      &_flowers {
         background-image: url("/img/bouquet.png");
      }

      &_toys {
         background-image: url("/img/bear-toy.png");
      }

      &_postcard {
         background-image: url("/img/postcard.png");
      }

      &:hover {
         background-color: $orange;
         color: $white;
      }


   }

   &__radio:focus-visible+&__label {
      outline: 2px solid $orange;
      outline-offset: 5px;
   }

   &__radio:checked+&__label {
      background-color: $light-orange;
      color: $white;
   }






   &__group_choices {}

   &__choices {
      position: relative;
   }

   &__select {
      display: flex;
      align-items: center;
      gap: 8px;

      &::after {
         content: "";
         width: 8px;
         height: 8px;
         background: url("./img/arrow.svg") center/contain no-repeat;
      }

   }



   &__type_list {}

   &__type_item {}

   &__type_button {
      white-space: nowrap;
   }
}