.header {
   background-color: #333;

   &__container {
      display: grid;
      grid-template-columns: repeat();
   }

   &__form {
   }

   &__input {
   }

   &__search-button {
   }

   &__logo {
   }

   &__cart-button {
   }
}
.container {
}
